.frontColorBar {
    background-color: #00ABE1;
    color: white;
    font: Copperplate;
    font-size: 50px;
    padding-top:10px;
    padding-left: 50px;
    width: 100%;
    height: 80px;
}

.loginGrayBox {
    background-color: #FAFAFA;
    margin: 120px auto;   
    width: 500px;
    height: 600px;
}

.grayBoxName {
    color: #666666;
    font: Copperplate;
    font-size: 40px;
    font-weight: bold;
    padding-top: 30px;
    text-align: center;
}

.userAndPwd {
    color: #B37D7E;
    font-size: 30px;
    font-weight: bold;
    padding-top: 35px;
    padding-left: 30px;
}

.backendLoginInput {
    font-size: 30px;
    width:435px;
    height:50px;
}

.submit {
    padding-top: 60px;
    padding-left:30px;    
}

input[type="submit"] {
    font-size: 30px;
    color:white;
    font-weight: bold;
    border-color: #0B88B6;
    background-color: #009DD6;
    width: 441px;
    height: 60px;
}

body {
}

